@import url("https://api.fontshare.com/v2/css?f[]=gambetta@1,2&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-font-family: theme("fontFamily.serif");
}

body {
  font-family: var(--default-font-family);
}

.lg-backdrop {
  opacity: 0.75 !important;
}

.lg-container {
  font-family: var(--default-font-family);
}

.gallery-item,
.cursor-pointer,
a {
  cursor: url("/assets/cursor.svg"), pointer;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}